*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/* NAVIGATION */

.nav{
    padding: 70px;
    height: 50px;
    background-image: linear-gradient(#fff, #da411b);
}


.nav__bar{
    width: 80%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__links{
    text-decoration: none;
    color: black;
}

.nav__links:hover{
    text-decoration: underline;
    font-weight: 600;
    transition: all 100ms ease;
}

.nav__logo{
    width: 60px;
    border-radius: 50%;
}

.btn__menu{
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: goldenrod;
    display: none;
}

.menu__backdrop{
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    z-index: 100;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}

.menu--open .menu__backdrop{
  visibility: visible;
  opacity: 1;
}

.menu--open{
    max-height: 100vh;
    overflow-y: hidden;
}

.menu__links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list{
    padding: 32px 0;
}

.menu__link{
    font-size: 40px;
    color: white;
}

.btn__menu--close{
    position: absolute;
    right: 20px;
    top:10px;
    padding: 8px;
    color: white;
}

/* SEARCH */


.search__container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.search__row{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search__header{
    font-size: 48px;
    padding-bottom: 12px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.search{
    border-radius: 34px;
    padding: 16px;
    background-color: lightgray;
    border: 1px solid black;
}

.search__bar{
    font-size: 28px;
    border: none;
    outline: none;
    background-color: lightgray;
}

.fas{
    font-size: 24px;
}


.datenight{
    padding: 16px 0;
    height: 50vh;
    z-index: -1;
}

/* MOVIES */

.movies{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1200px;
    background-image: linear-gradient(#fff, #da411b);
}

.movies__container{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.movie-list{
    width: auto;
    display: flex;
    flex-wrap: wrap;
}

.movie{
    width: 50%;
    padding-top: 10px;
    width: calc(80%/2);
    margin: 24px 24px 0 24px;
}

.movie-card{
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    margin: 10px;
    transition: .3s;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
}

.movie-card__container{
    display: flex;
    justify-content: center;
}

h3,
p {
    padding-left: 24px;
    justify-content: center;
}

.movie__poster {
    padding-top: 10px;
    width: calc(80%/2);
    margin: 24px 24px 0 24px;
}

/* FOOTER */

.footer{
    position: relative;
    background-image: linear-gradient(#da411b, #fff);
    display: flex;

}

.footer__container{
    padding: 50px 0;
    width: 100%;
}

.footer__bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.fab{ 
    font-size: 20px; 
}

/* MEDIA */

@media (max-width: 768px){
    .nav__bar{
        font-size: 20px;
    }

    .search__header{
        font-size: 36px;
    }

    .search__bar{
        font-size: 16px;
    }

    .fas{
        font-size: 12px;
    }

    .search__img{
        display: flex;
        justify-content: center;
    }

    .datenight{
        width: 60%
    }

}

@media (max-width: 576px){
    .search__header{
        font-size: 30px;
    }

    .search__bar{
        font-size: 12px;
    }

    .btn__menu{
        display: block;
    }

    .nav__links{
        display: none;
    }

    .fas{
        font-size: 12px;
    }

}

@media (max-width:485px){
    .search__header{
        font-size: 20px;
    }

    .search__bar{
        font-size: 10px;
    }

    .fas{
        font-size: 10px;
    }
}

